@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/fonts/MyriadPro-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('assets/fonts/NotoSerif-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('assets/fonts/NotoSerif-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif TC';
    src: url('assets/fonts/NotoSerifTC-Regular.otf');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif TC';
    src: url('assets/fonts/NotoSerifTC-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Myriad Pro';
}

.pages-container {
    position: relative;
    width: 100%;
    z-index: 0;
}

.page {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    /* justify-content: center;
    align-items: center; */
    font-size: 4em;
}

.page h1 {
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-size: 2em;
    line-height: 0.95;
    letter-spacing: -0.05em;
}


.page h5 {
    font-family: 'Noto Serif';
    font-weight: normal;
    font-style: italic;
    font-size: 2.2rem;
    line-height: 1;
    margin-top: auto;
}

.page p {
    font-size: 0.9rem;
    font-family: 'Noto Serif TC';
    font-weight: regular;
    max-width: 500px;
    text-align: left;
    line-height: 1.55;
    padding-right: 60px;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 100px; */
}

.grid-item1 {
    grid-column: 2;
    grid-row: 1;
    padding-top: 100px;
    padding-left: 528px;
    align-self: end;
}

.grid-item2 {
    grid-column: 1;
    grid-row: 1/3;
    padding-top: 100px;
    max-width: 800px;
    letter-spacing: -0.05em;
}

.grid-item3 {
    grid-column: 2;
    grid-row: 2;
    padding-left: 530px;
    justify-self: start;
    align-self: stretch;
}

.cover-item-container {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.copyright {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 0.8rem;
}

/* 為每個頁面設置不同的背景色 */
#page-00 { background-color: #000000; color: #454545; }
#page-01 { background-color: #f1f1f1; color: #090909;}
#page-02 { background-color: #e1e1e1; color: #292828;}
#page-03 { background-color: #d1d1d1; color: #383838;}
#page-04 { background-color: #c1c1c1; color: #424141;}
#page-05 { background-color: #b1b1b1; color: #4c4c4c;}
#page-06 { background-color: #858585; color: #e1e1e1;}
#page-07 { background-color: #747474; color: #e1e1e1;}
#page-08 { background-color: #484848; color: #f1f1f1;}

.split-container {
    display: none;  /* 隱藏選單 */
}

:root {
    --background: #ff84c6;
    --base1: #090909;
    --base2: #292828;
    --base3: #383838;
    --base4: #646464;
    --base5: #575757;
    --base6: #e1e1e1;
    --base7: #e1e1e1;
    --base8: #f1f1f1;
    --accent: #61dda7;
    --shadow: #4b81ff;
}

.cool {
    font: semibold 2em 'Myriad Pro';
    max-width: 20rem;
    line-height: 0.9;
}

.cool span {
    color: var(--shadow);
    display: inline-block;
    position: relative;
}

.cool span::before,
.cool span::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 105%;
    height: 100%;
}

.cool span::before {
    animation: max-height .4s cubic-bezier(0.61, 1, 0.88, 1) paused both;
    color: var(--accent);
}

.cool span::after {
    animation: max-width .7s cubic-bezier(0.61, 1, 0.88, 1) paused both;
    color: var(--base1);
}

/* 當有 animate class 時才播放動畫 */
.cool span.animate::before {
    animation-play-state: running;
}

.cool span.animate::after {
    animation-play-state: running;
}

@keyframes max-width {
    from {
        max-width: 0;
    }
    to {
        max-width: 105%;
    }
}

@keyframes max-height {
    from {
        max-height: 0%;
    }
    to {
        max-height: 100%;
    }
}

/* 添加粗體文字的動畫效果 */
.grid-item1, .grid-item3 b {
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(to right, 
        rgba(97, 221, 167, 0.8),  /* #61dda7 with 80% opacity */
        rgba(216, 255, 235, 0.8)  /* #d8ffeb with 80% opacity */
    );
    background-repeat: no-repeat;
    padding-bottom: 2px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    transition: background-size 0.3s ease;
}

#page-06 .grid-item3 b, #page-07 .grid-item3 b, #page-08 .grid-item3 b {
    background-image: linear-gradient(to right, 
        rgba(29, 61, 152, 0.8),     /* #1d3d98 with 80% opacity */
        rgba(108, 148, 234, 0.8)    /* #6c94ea with 80% opacity */
    );
}

/* 當滑鼠懸停在互動區域時觸發動畫 */
.interaction-area:hover ~ .pages-container .grid-item3 b {
    background-size: 100% 100%;
}

/* 添加右側互動區域 */
.interaction-area {
    position: fixed;
    right: 0;
    top: 0;
    width: 40vw; /* 視窗寬度的 1/3 */
    height: 100vh;
    z-index: 2;
}

/* 為每個頁面設置不同的 cool animation 顏色 */
#page-01 .cool span::after { color: var(--base1); }
#page-02 .cool span::after { color: var(--base2); }
#page-03 .cool span::after { color: var(--base3); }
#page-04 .cool span::after { color: var(--base4); }
#page-05 .cool span::after { color: var(--base5); }
#page-06 .cool span::after { color: var(--base6); }
#page-07 .cool span::after { color: var(--base7); }
#page-08 .cool span::after { color: var(--base8); }



